/*
 * @Description: 
 * @version: 1.0
 * @Author: 赵卓轩
 * @Date: 2021-07-08 20:52:14
 * @LastEditors: 赵卓轩
 * @LastEditTime: 2021-07-09 20:55:27
 */
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: darkslateblue;
  padding: 0.6em 0;
  color: white;
  margin: 0;
}

#components-layout-demo-fixed {
  float: left;
  width: 120px;
  height: 100vh;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: url(../assets/yay.jpg) no-repeat center 0;
}

.site-layout .site-layout-background {
  background: #fff;
  height: 100vh;
}
